<!-- <div class="body">
  <div class="header">
    <h1>Website Quản Trị Mạng</h1>
    <p>Kiến thức - Kinh nghiệm - Hỏi đáp</p>
    <p>Sử dụng <b>flexible</b> layout.</p>
  </div>
  <div class="navbar">
    <a href="#">Làng Công nghệ</a> <a href="#">Công nghệ</a>
    <a href="#">Khoa học</a> <a href="#">Cuộc sống</a>
  </div>
  <div class="row">
    <div class="side">
      <h2>Giới thiệu</h2>
      <div class="fakeimg" style="height: 200px">Ảnh</div>
      <p>Quantrimang.com là mạng xã hội về khoa học công nghệ.</p>
      <h3>Nổi bật</h3>
      <div class="fakeimg" style="height: 60px">Ảnh</div>
      <br />
      <div class="fakeimg" style="height: 60px">Ảnh</div>
      <br />
      <div class="fakeimg" style="height: 60px">Ảnh</div>
      <h3>Follow Me</h3>
      <p>Facebook</p>
      <p>YouTube</p>
    </div>
    <div class="main">
      <h2>Form - Biểu mẫu trong CSS</h2>
      <h5>Quách Tỉnh, 14/02/2019</h5>
      <div class="fakeimg" style="height: 200px">Ảnh</div>
      <p>Form là một phần không thể thiếu trong bất kì loại website nào.</p>
      <p>
        Ở bài viết này, Quantrimang.com sẽ hướng dẫn bạn cách xây dựng phần giao
        diện hiển thị của một biểu mẫu cơ bản. Giao diện này có thể được làm khá
        đẹp mắt với CSS
      </p>
      <br />
      <h2>Attribute Selector trong CSS</h2>
      <h5>Quách Tỉnh, 14/02/2019</h5>
      <div class="fakeimg" style="height: 200px">Ảnh</div>
      <p>
        Attribute selector là cách chọn các phần tử bạn muốn định kiểu trong tài
        liệu HTML dựa vào thuộc tính của một hay nhiều thẻ HTML nào đó.
      </p>
      <p>
        Attribute selector có thể chọn được các đối tượng mà không cần phải khai
        báo thêm các Class hoặc ID vào trong thẻ HTML và vẫn có thể hướng được
        đến các thành phần đó, giúp code gọn gàng hơn và mạch lạc hơn.
      </p>
    </div>
  </div>
  <div class="footer">
    <h4>Giấy phép số 362/GP-BTTTT. Bộ TT&TT cấp ngày 30/06/2016.</h4>
  </div>
</div> -->

<div class="flex flex-row gap-1 w-full">
  <div class="app-cursor-pointer flex flex-col items-center grow justify-between basis-[calc(100%/4)]">
    <div>16</div>
      <div>Tất cả yêu cầu</div>
  </div>
  <div class="app-cursor-pointer flex flex-col items-center grow justify-between basis-[calc(100%/4)]">
    <div>16</div>
      <div>Tất cả yêu cầu</div>
  </div>
  <div class="app-cursor-pointer flex flex-col items-center grow justify-between basis-[calc(100%/4)]">
    <div>16</div>
      <div>Tất cả yêu cầu</div>
  </div>
  <div class="app-cursor-pointer flex flex-col items-center grow justify-between basis-[calc(100%/4)]">
    <div>16</div>
      <div>Tất cả yêu cầu</div>
  </div>
</div>
